@media screen and (max-width: 600px) {
  .movie-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 600px) {
  .movie-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1400px;
    margin: auto;
    .movie-list {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

.movie-list {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  overflow: auto;
}

.loading {
  text-align: center;
  color: #fff;
}

.empty {
  height: 200px;
  padding-top: 100px;
  text-align: center;
  color: #fff;
}
